version: "3.9"

services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: always
    ports:
      - "9000:9000"
      - "9443:9443"
    environment:
      - ADMIN_USERNAME=${PORTAINER_ADMIN_USER}
      - ADMIN_PASSWORD=${PORTAINER_ADMIN_PASS}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data

volumes:
  portainer_data:
